/*  Navigation Bar */
.navbar {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.search-container {
    margin-left: 10px;
    display: flex;
}

#search-form {
    padding: 4%;
    display: flex;
    flex-direction: row;
}

label {
    cursor: pointer;
}

.cart {
    margin-right: 2%;
    scale: 2.1; 
    display: flex;
    margin-top: 9px;
}

.cart div {
    position: absolute;
    background: white;
    border-radius: 45%;
    font-size: 10%;
    color: black;
    margin-left: 18px; 
    top: -17%;
    padding: 1px 2px;
}

#cart-button {
    position: relative;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}

/** Banner **/
#game-banner {
    height: 350px;
    background-image: url("images/img-header.jpg");
    background-size: 100%;
    background-repeat: no-repeat;

}

#game-banner h1 {
    font-family: fantasy;
    text-shadow: 3px 3px red;
    font-size: 80px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 350px;
    margin-top: 10px;
}

/** Game Card Container **/
#game-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1%;
    justify-content: center;
}

.game { 
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    border: 1px solid grey;
    margin: 20px;
    padding: 10px;
    width: 290px;
}

.game h2 {
    font-size: 20px;
    height: 33px;
    text-align: center;
    font-weight: bold;
}

.game img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.game button {
    font-size: 16px;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.game p {
    text-align: center;
    font-size: 15px;
}

.game p:first-of-type {
    font-weight: bold;
    font-size: 18px;
}

#alert-message {
    display: flex;
    justify-content: center;
    font-family: fantasy;
    font-size: 80px;
    margin-top: 50px;
}

/** Topple Cart **/
#toggleCart {
    border: gray solid 1px;
    float: right;
    background-color: white;
    width: 20%;
    padding: 10px;
    position: relative;
}

#toggleCart h2{
    background-color: plum;
    display: flex;
    justify-content: center;
    margin-top: -1px;
}

.hidden {
    display: none;
}

#cart-message {
    display: flex;
    justify-content: center;
    font-family: fantasy;
    font-size: 20px;
}

.cart-item {
    border: gray solid;
    padding: 10px;
    justify-content: center;
}

.cart-item img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}
